/* Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --gray-color: hsl(0, 0%, 75%);
    --titulo-color: hsl(33, 48%, 66%);
    --primary-color: hsl(0, 0%, 11%);
    --extra-color: hsl(32, 100%, 93%);
    --back-color: hsl(0, 0%, 100%);

    --paragraph-color: hsl(210, 9%, 31%);
    --white-color: #fff;

}

body {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.6rem;
    background: var(--back-color);
    text-align: center;
}
.box-wrapper {
    width: 37.5rem;
    margin-inline: auto;
}

/* Iniciando Header */
header {
    margin-top: 4.1rem;

}
header::before {
    content: "";
    width: 100vw;
    height: 100vh;
    background: var(--titulo-color);
    display: block;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
h1 {
    font-size: 3.4rem;
    line-height: 120px;
    color: var(--gray-color);

    margin-bottom: 2.4rem;
}
h3 {
    font-size: 2.9rem;
    color: var(--primary-color);
    margin-bottom: 1.9rem;
}
p {
    font-size: 1.8rem;
    line-height: 150%;
    font-weight: 400;
    color: var(--paragraph-color);
    
    margin-bottom: 3.2rem;
}
button {
    background: var(--gray-color);
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 700;
    

    border: 1px solid var(--gray-color);
    border-radius: 4rem;

    margin-bottom: 6rem;
    height: 6.2rem;
    width: 26.3rem;

    display: flex;
    align-items: center;
    justify-content: center;
    
    gap: 1.6rem;

    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
}
header img {
    width: 26.4rem;
    display: block;
    margin-inline: auto;
    object-position: 0 2rem;
}
.destaques {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 32.7rem;
    padding-block: 4rem;
    margin-inline: auto;

    border-radius: 1rem;


    background-color: var(--gray-color);
    color: var(--white-color);
    gap: 6rem;
}
.destaque h3 {
    font-size: 4.8rem;
    color: var(--primary-color);
    line-height: 130%;

    margin-bottom: 0.4rem
}

.destaque p {
    margin: 0;
    color: var(--white-color);
    font-size: 1.6rem;
    line-height: 150%;
}

/* Navigation */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1.6rem 2.4rem;

    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
